body{
    background-color: lightgray;
}
h2{
    margin-right: auto;
    margin-left: auto;
    width: 300px;
}


table{
    padding: 20px; 
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-color: gray;
    border-radius: 10px;

}

